.contacts__background{
    background-color: #323232;
    
    display: flex;

    width: 100%;
    height: 853px;

    position: relative;
}

.contacts__girl{
    position: absolute;

    width: 885px;
    height: 846px;
    
    bottom: 0;
    left: 0;

}

.contacts__boy{
    position: absolute;
    
    width: 774px;
    height: 865px;

    top: -37px;
    right: 0;
}

.contacts__wrapper{
    display: flex;
    
    z-index: 5;

    padding-left: 52px;
    padding-top: 44px;
    
}