@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;900&display=swap');

*{
    box-sizing: border-box;
}
body {
  height: 900px;
  width: 1920px;
  margin: 0;
  padding-right: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

